@{
    ViewData["Title"] = "Favourite";
    Layout = "_LayoutClientHome";
}
@model InterestModel;

<div class="container">
    <h3 class="mt-4 mb-4">Danh sách yêu thích</h3>
    @for (int i = 0; i < Model.listRoomSummary.Count; i++)
    {
        <div class="card m-3">
            <a class="card-block stretched-link text-decoration-none text-dark" asp-controller="Home" asp-action="RoomInfo" asp-route-idRoom="">
                <div class="row">
                    <div class="product-image"><img src="~/css/post-single-1.jpg" style="height:110px; width:110px" /></div>
                    <div class="col">
                        <div class="product-title">
                            <strong>2 </strong>
                        </div>
                        <div class="d-flex">
                            <div class="mr-3 product-price font-weight-bold">2 đồng/tháng</div>
                            <div class="mr-3 product-area">2 m2</div>
                            <div class="product-location">2 </div>
                        </div>
                        <div class="product-content text-muted">2 </div>
                        <div class="product-update-time text-muted">2 </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>