@{
    ViewData["Title"] = "Screen For Host";
    Layout = "_Layout1";
}
<h3>Màn hình của chủ trọ</h3>
<h4>Các bài đăng đang chờ duyệt</h4>
<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4" style="overflow-x:auto">
    @for (int i = 0; i < 5; i++)
    {
        <div class="col-4">
            <a asp-controller="Home" asp-action="PendingMotel"><div class="card">Motel1</div></a>
        </div>
    }
</div>
<h4>Các bài đăng đã được duyệt</h4>
<div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4" style="overflow-x:auto">
    @for (int i = 0; i < 5; i++)
    {
        <div class="col-4">
            <a asp-controller="Home" asp-action="CheckedMotel"><div class="card">Motel1</div></a>
        </div>
    }
</div>
