@{
    ViewData["Title"] = "Home Page";
}
@model List<Motel>;

<div class="text-center">
    <h3>Cho thuê nhà trọ, phòng trọ tại Việt Nam</h3>
    @foreach(var motel in Model)
    {
    <div class="card m-2">
        <a asp-controller="Home" asp-action="Detail" asp-route-id ="@motel.MotelID">
            @motel.MotelTitle
        </a>
    </div>

    }
</div>
