.selectBox {
    position: relative;
}

    .selectBox select {
        width: 100%;
    }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

    #checkboxes label {
        display: block;
    }

        #checkboxes label:hover {
            background-color: #1e90ff;
        }

@media screen and (min-width: 800px) {
    .product-image img {
        height: 130px;
        width: 100%;
        object-fit: fill;
    }
}

@media screen and (max-width: 799px) {
    .product-image img {
        height: 200px;
        width: 100%;
        object-fit: fill;
    }
}

