<article class="motel-item border rounded">
    <img src="~/css/post-single-1.jpg" alt="img" style="max-width:100%">
    <div class="motel-item-content">
        <div class="motel-item-about">
            <h5><b>Nhà trọ gần DHQGHN</b></h5>
            <div class="motel-item-address">Cầu Giấy, Hà Nội</div>
            <p class="motel-item-info">
                <span>Nhà tắm khép kín |</span>
                <span>Khu bếp riêng |</span>
                <span>Có ban công</span>
            </p>
        </div>
        <div class="motel-item-detial border-top">
            <span class="price text-muted">
                $35000
            </span>
        </div>
    </div>
</article>
