<head>
    <style>

        @@media screen and (max-width: 900px) {
            .motel-item-info {
                display: none;
            }
        }
        @@media screen and (max-width: 800px) {
            .motel-item {
                min-width:200px;
            }
        }

    </style>
</head>
<article class="motel-item border rounded">
    <img src="~/css/post-single-1.jpg" alt="img" class="mw-100">
    <div class="motel-item-content m-2">
        <div class="motel-item-about">
            <strong>Nhà trọ gần DHQGHN</strong>
            <div class="motel-item-address">Cầu Giấy, Hà Nội</div>
            <p class="motel-item-info row">
                <span class="col">Nhà tắm khép kín</span>
                <span class="col">Khu bếp riêng</span>
                <span class="col">Có ban công</span>
            </p>
        </div>
        <div class="motel-item-detial border-top">
            <span class="price text-muted">
                $35000
            </span>
        </div>
    </div>
</article>
